
html { 
  overflow-x:hidden;
  overflow-y:hidden; 
  background: #fff;
 }

body{
  font-family: helvetica;
  font-size: 1.8em;  
  background: #fff;
}

#info{
    align-content: center;

}

#button {
    height: 100%;
    width: 100%;
    padding-top: 15px;
    }


@media(min-width:762px) {

#banner{
    text-align: center;
    height: 50%;
    width: 100%;
    background-image: url(http://spark-bg.com/skin/gym/images/custom-bg.jpg);
    background-repeat: no-repeat;    
  }

#center{
  margin-left: 37%; 
  width: 100%;
  height: 100%;
}  
.home-section p{
    margin-top: 5%;
}
 h1{
  font-size: 40px;
  position: absolute;
  top: 30%;
  width: 100%;
  height: 100%;
}
h2{
  text-align: center;
}
h3{
  font-size: 21px;
  position: absolute;
  top: 50%; 
  width: 100%;
  height: 100%;
  }

#footer{
    font-size: 10px ;
    text-align:center;
    color: black;
    background-color:  #efefef; 
    height: 3%;
    width: 100%;
    margin-top: 3%;
    }
}

/* 761 px*/


@media(max-width:761px){

#banner{
    text-align:center;
    color: #fcfcfc;
    height: 50%;
    width: 100%;
    background-image: url(http://spark-bg.com/skin/gym/images/custom-bg.jpg);
    background-repeat: no-repeat;
  }

 h1{
  font-size: 30px;
  position: absolute;
  top: 30%;
  width: 100%;
  height: 100%;
}
h2{
  text-align: center;
}
h3{
  font-size: 21px;
  position: absolute;
  top: 50%;
  left: 44%; 
  }
} 

